@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
  font-family: Banny;
  src: url("../fonts/Banny-Round.otf");
}

* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.title {
  font-family: Banny, sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  position: relative;
  line-height: 60px;
}

.title:after {
  content: "";
  height: 5px;
  width: 60px;
  background: #E8C300;
  border-radius: 50px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.underline {
  width: 60px;
  height: 5px;
  background: #E8C300;
  border-radius: 50px;
}

.subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.header-title {
  padding: 45px 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
}

.footer-about {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: rgba(51, 51, 51, 0.5);
  padding: 60px 0;

  &-span {
    font-weight: bold;
  }
}

.btn-yellow {
  border: 0;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  color: #FFFFFF;
  background: #E8C300;
  border-radius: 5px;
  padding: 20px 0;
}

.header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../img/header-bg.png") center center;
  background-size: cover;

  .nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: -75px;

    &-list {
      display: flex;
      justify-content: space-around;
      width: 50%;
      height: 100px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);

      &__item {
        display: flex;
        align-items: center;
        padding: 0 3px;
        list-style: none;
        font-family: "Open Sans", sans-serif;
        color: #FFFFFF;
      }
    }

    &__logo {
      padding: 25px 25px 0;
    }
  }

  .showcase {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;

    &__work {
      color: white;
      transform: rotate(180deg);
      writing-mode: tb;
      margin-right: 45px;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
    }

    &__center {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-left: 1px solid rgba(255, 255, 255, 0.2);
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      padding: 225px 35px 80px;

      .pre {
        display: flex;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 6px;
        text-transform: uppercase;
        color: #FFFFFF;
      }

      .title {
        font-size: 96px;
        color: #FFFFFF;
        line-height: normal;
      }

      .block-btn {
        display: flex;
        justify-content: space-between;
        width: 57.3%;
        padding: 30px 0 80px;

        &__btn-colored {
          width: 200px;
          height: 60px;
          background-color: #E8C300;
          text-transform: uppercase;
          color: #fff;
          border-radius: 5px;
          border: none;
        }

        &__btn-outline {
          font-family: "Open Sans", sans-serif;
          font-weight: 600;
          width: 200px;
          height: 60px;
          background-color: transparent;
          text-transform: uppercase;
          color: #fff;
          border-radius: 5px;
          border: 1px solid rgba(255, 255, 255, 0.5);
        }
      }
    }

    &__social-btn {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 220px;

      .border-outline {
        margin: 0;
        font-size: 20px;
        color: #FFFFFF;
      }
    }
  }

  .border-outline {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);

    &__btn-down {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background: #fff;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
}

.line {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transform: rotate(-90deg);

  &-center {
    width: 435px;
    top: 315px;

    &-small {
      width: 82px;
      top: -39px;
    }
  }
}

@mixin square($translate:0) {
  content: "";
  width: 250px;
  height: 250px;
  border: 20px solid #E8C300;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
  position: absolute;
  transform: translateX($translate);
}

.square-bgr {
  display: flex;
  align-items: center;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));

  &__img {
    border-radius: 5px;
  }
}

.about-us {
  &__block {
    display: flex;
    padding: 100px 200px 100px 80px;

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      padding: 115px 80px 115px 0;
    }
  }

  .square-bgr:before {
    right: 0;
    @include square(50%)
  }
}

.team {
  background: url("../img/team-bg.png") center center;
  background-size: cover;

  &__block {
    display: flex;
    padding: 0 80px 100px 200px;

    .square-bgr:before {
      @include square(-50%)
    }

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      padding: 115px 0 115px 80px;

      .title, .subtitle, .description {
        color: #FFF;
      }

      .description {
        opacity: 0.9;
      }
    }
  }
}

$input-color-form: rgba(51, 51, 51, 0.5);

.booking {

  &__block {
    display: flex;
    justify-content: space-between;
    padding: 100px 200px 0 130px;

    .square-bgr {
      display: flex;
      align-items: center;
      filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
    }

    .square-bgr:before {
      right: 0;
      @include square(50%)
    }

    .booking__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 60px;
      padding-right: 70px;
      width: 100%;
    }

    .form-table {
      padding-top: 25px;
      display: flex;
      flex-direction: column;
      width: 100%;

      .input {
        box-sizing: border-box;
        padding: 22px 0 22px 22px;
        width: 50%;
        background: #E5E5E5;
        border-radius: 5px;
        border: 0;
        color: $input-color-form;

        &-wrap {
          display: flex;
          justify-content: space-between;
          padding-bottom: 10px;

          .form-table {

            &__date {
              appearance: none;
            }

            &__people, &__time {
              appearance: none;
              background: url(../img/icon/down_icon.png) 92%/12px no-repeat #e5e5e5;
            }
          }

          .input:nth-child(odd) {
            margin-right: 10px;
          }

          .input::placeholder {
            color: $input-color-form;
          }
        }
      }
    }
  }
}

.specialties {
  background: url("../img/specialties-bg.png") center center;
  background-size: cover;

  &__block {
    display: flex;
    padding: 0 80px 100px 200px;

    .square-bgr {
      display: flex;
      align-items: center;
      filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));

      &__img {
        border-radius: 5px;
      }
    }

    .square-bgr:before {
      @include square(-50%)
    }

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      padding: 115px 0 115px 80px;

      .title, .subtitle, .description {
        color: #FFF;
      }

      .description {
        opacity: 0.9;
      }
    }
  }
}

.menu {
  &-block {
    padding: 100px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .block-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 42%;

      .subtitle {
        text-align: center;
        padding-top: 25px;
      }
    }
  }

  &-button {
    display: flex;
    width: 100%;
    justify-content: center;

    &-item {
      list-style: none;
      border-right: 1px solid rgba(51, 51, 51, 0.2);
      padding: 15px 3.2%;
      margin: 50px 0;
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      font-size: 12px;
    }

    &-item:last-child {
      border: 0;
    }
  }

  &-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-item {
      display: flex;
      flex-direction: column;
      width: 30%;
      padding-bottom: 20px;

      .item-top-block {
        width: 100%;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        font-family: Banny, sans-serif;
        font-size: 18px;
        color: #333333;
      }

      .item-description {
        width: 75%;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        color: rgba(51, 51, 51, 0.5);
      }
    }

    &-span {
      font-family: Banny, sans-serif;
      font-size: 18px;
      color: #333333;
    }
  }
}

.privat {
  background: url("../img/private-bg.png") center center;
  background-size: cover;

  &-block {
    .img-block {
      display: flex;
      justify-content: space-evenly;

      .square-bgr-title-text {
        padding-left: 20px;
        font-size: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
        font-family: "Banny", sans-serif;
      }

      @mixin square-bgr-title($position, $rotate:90deg) {
        display: flex;
        align-items: center;
        background: #000000;
        border-radius: 5px 5px 0px 0px;
        position: absolute;
      #{$position}: 198px;
        transform: rotate($rotate);
        width: 476px;
        height: 80px;
      }

      .square-bgr-left-title {
        @include square-bgr-title(left)
      }

      .square-bgr-left:before {
        @include square(-50%)
      }

      .square-bgr-right-title {
        @include square-bgr-title(right, -90deg)
      }

      .square-bgr-right:before {
        right: 0;
        @include square(50%)
      }
    }

    .footer-about {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.gallery {
  &-block {
    display: flex;

    &-photo {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

.icon {
  display: flex;
  align-items: center;
}

.contact {
  &-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;

    .subtitle {
      width: 40%;
      padding: 25px 0;
    }

    .form-contact-block {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-top: 25px;

      &-input {
        padding: 22px 0 22px 22px;
        width: 33%;
        background: #E5E5E5;
        border-radius: 5px;
        border: 0;
        color: $input-color-form;

        &-wrap {
          display: flex;
        }
      }

      &-input:nth-child(2) {
        margin: 0 10px;
      }

      &-textarea {
        margin: 10px 0;
        background: #E5E5E5;
        border: 0;
        padding: 22px;
        resize: none;
        border-radius: 5px;
      }

      .block-form-bottom {
        display: flex;

        .block-contacts {
          display: flex;
          justify-content: space-around;
          width: 50%;
          color: rgba(51, 51, 51, 0.5);
          font-family: "Open Sans", sans-serif;
          font-weight: 600;
          font-size: 12px;

          .address {
            display: flex;
            align-items: center;
          }

          .address:before {
            content: "";
            background: url(../img/icon/map-marker.png) 0px/18px no-repeat;
            width: 20px;
            height: 30px;
            padding-right: 5px;
          }

          .phone {
            display: flex;
            align-items: center;
          }

          .phone:before {
            content: "";
            background: url(../img/icon/phone.png) 0px/18px no-repeat;
            width: 20px;
            height: 30px;
            padding-right: 5px;
          }

          .email {
            display: flex;
            align-items: center;
          }

          .email:before {
            content: "";
            background: url(../img/icon/envelope.png) 0px/18px no-repeat;
            width: 20px;
            height: 30px;
            padding-right: 5px;
          }
        }

        .submit-btn {
          width: 50%;
        }
      }
    }
  }
}

.maps {
  &-block {
    display: flex;
    flex-direction: column;

    #map {
      width: 100%;
      height: 500px;
    }

    .footer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 45px 0;
      font-family: "Open Sans", sans-serif;
      background: rgba(0, 0, 0, 0.9);
      color: rgba(255, 255, 255, 0.5);

      &-span {
        font-weight: 600;
      }
    }
  }
}