@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
  font-family: Banny;
  src: url("../fonts/Banny-Round.otf");
}

* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.title {
  font-family: Banny, sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  position: relative;
  line-height: 60px;
}

.title:after {
  content: "";
  height: 5px;
  width: 60px;
  background: #E8C300;
  border-radius: 50px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.underline {
  width: 60px;
  height: 5px;
  background: #E8C300;
  border-radius: 50px;
}

.subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../img/header-bg.png") center center;
  background-size: cover;

  .nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: -75px;

    &-list {
      display: flex;
      justify-content: space-around;
      width: 50%;
      height: 100px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);

      &__item {
        display: flex;
        align-items: center;
        padding: 0 3px;
        list-style: none;
        font-family: "Open Sans", sans-serif;
        color: #FFFFFF;
      }
    }

    &__logo {
      padding: 25px 25px 0;
    }
  }

  .showcase {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;

    &__work {
      color: white;
      transform: rotate(180deg);
      writing-mode: tb;
      margin-right: 45px;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
    }

    &__center {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-left: 1px solid rgba(255, 255, 255, 0.2);
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      padding: 225px 35px 80px;

      .pre {
        display: flex;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 6px;
        text-transform: uppercase;
        color: #FFFFFF;
      }

      .title {
        font-size: 96px;
        color: #FFFFFF;
        line-height: normal;
      }

      .block-btn {
        display: flex;
        justify-content: space-between;
        width: 57.3%;
        padding: 30px 0 80px;

        &__btn-colored {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 200px;
          height: 60px;
          background-color: #E8C300;
          text-transform: uppercase;
          color: #fff;
          border-radius: 5px;
          border: none;
        }

        &__btn-outline {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 200px;
          height: 60px;
          background-color: transparent;
          text-transform: uppercase;
          color: #fff;
          border-radius: 5px;
          border: 1px solid rgba(255, 255, 255, 0.5);
        }
      }
    }

    &__social-btn {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 220px;

      .border-outline {
        margin: 0;
        font-size: 20px;
        color: #FFFFFF;
      }
    }
  }

  .border-outline {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);

    &__btn-down {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background: #fff;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
}

.line {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transform: rotate(-90deg);

  &-center {
    width: 435px;
    top: 315px;

    &-small {
      width: 82px;
      top: -39px;
    }
  }
}

@mixin square($translate:0) {
  content: "";
  width: 250px;
  height: 250px;
  border: 20px solid #E8C300;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
  position: absolute;
  transform: translateX($translate);
}

.about-us {
  &__block {
    display: flex;
    padding: 100px 200px 100px 80px;

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      padding: 115px 80px 115px 0;
    }
  }

  &__img {
    border-radius: 5px;
  }

  .square-bgr {
    display: flex;
    direction: rtl;
    align-items: center;
    filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
  }

  .square-bgr:before {
    @include square(50%)
  }
}

.team {
  background: url("../img/team-bg.png") center center;
  background-size: cover;

  .header-title {
    padding: 45px 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
  }

  &__img {
    border-radius: 5px;
  }

  &__block {
    display: flex;
    padding: 0 80px 100px 200px;

    .square-bgr {
      display: flex;
      align-items: center;
      filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
    }

    .square-bgr:before {
      @include square(-50%)
    }

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      padding: 115px 0 115px 80px;

      .title, .subtitle, .description {
        color: #FFF;
      }

      .description {
        opacity: 0.9;
      }
    }
  }
}

.booking {
  $input-color-form: rgba(51, 51, 51, 0.5);

  &__block {
    display: flex;
    justify-content: space-between;
    padding: 100px 200px 0 130px;

    .square-bgr {
      display: flex;
      direction: rtl;
      align-items: center;
      filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
    }

    .square-bgr:before {
      @include square(50%)
    }

    .booking__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 60px;
      padding-right: 70px;
      width: 100%;
    }

    .form-table {
      padding-top: 25px;
      display: flex;
      flex-direction: column;
      width: 100%;
      //display: grid;
      //grid-template-areas:
      //"name email"
      //"phone people"
      //"date time"
      //"form-btn form-btn";
      //column-gap: 10px;
      //row-gap: 10px;

      .input {
        box-sizing: border-box;
        padding: 22px 0 22px 22px;
        width: 50%;
        background: #E5E5E5;
        border-radius: 5px;
        border: 0;
        color: $input-color-form;

        &-wrap {
          display: flex;
          justify-content: space-between;
          padding-bottom: 10px;

          .form-table {

            &__date {
              appearance: none;
            }

            &__people, &__time {
              appearance: none;
              background: url(../img/icon/down_icon.png) 92%/12px no-repeat #e5e5e5;
            }
          }

          .input:nth-child(odd) {
            margin-right: 10px;
          }

          .input::placeholder {
            color: $input-color-form;
          }
        }
      }

      &__btn {
        font-family: "Open Sans", sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        color: #FFFFFF;
        background: #E8C300;
        border-radius: 5px;
        padding: 20px 0;
        border: 0;
      }
    }
  }

  &__about {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: rgba(51, 51, 51, 0.5);
    padding: 60px 0;
  }
}

.specialties {
  background: url("../img/specialties-bg.png") center center;
  background-size: cover;

  .header-title {
    padding: 45px 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
  }

  &__img {
    border-radius: 5px;
  }

  &__block {
    display: flex;
    padding: 0 80px 100px 200px;

    .square-bgr {
      display: flex;
      align-items: center;
      filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
    }

    .square-bgr:before {
      @include square(-50%)
    }

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      padding: 115px 0 115px 80px;

      .title, .subtitle, .description {
        color: #FFF;
      }

      .description {
        opacity: 0.9;
      }
    }
  }
}

.menu {
  &-block {
    padding: 100px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .block-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 42%;

      .subtitle {
        text-align: center;
        padding-top: 25px;
      }
    }
  }

  &-button {
    display: flex;
    width: 100%;
    justify-content: center;

    &-item {
      list-style: none;
      border-right: 1px solid rgba(51, 51, 51, 0.2);
      padding: 15px 3.2%;
      margin: 50px 0;
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      font-size: 12px;
    }

    &-item:last-child {
      border: 0;
    }
  }

  &-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &-item {
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      color: rgba(51, 51, 51, 0.5);
      height: 65px;
      width: 27%;
    }

    &-span {
      font-family: Banny, sans-serif;
      font-size: 18px;
      color: #333333;
    }
  }
}