* {
  margin: 0;
  padding: 0;
  font-family: Larsseit, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.marketing {
  display: flex;
  align-items: baseline;
  padding-top: 30px;
  width: 100%;
  border-top: 1px solid #ffff;

  &-dot {
    font-size: 40px;
    color: #E9B730;
    padding-right: 20px;
  }

  &-text {
    font-size: 32px;
    color: #fff;
  }
}

.block-4-marketing {
  display: grid;
  grid-template-areas: "bloc1 bloc2 bloc3 bloc4";
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 120px;

  &-section {
    padding: 70px 50px 178px 45px;
  }

  &-1 {
    background: #FFE2DE;
  }

  &-2 {
    background: #C4E769;
  }

  &-3 {
    background: #62D0DF;
  }

  &-4 {
    background: #0052C1;
  }
}

.site-header {
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  margin: 0 auto;

  &__bloc {
    display: flex;
    flex-direction: column;
    margin: 305px 450px 75px 175px;

    &__title {
      display: flex;
      padding-bottom: 70px;
      font-weight: 700;
      font-size: 43px;
      line-height: 53px;
      color: #22356F;
    }

    &__description {
      display: flex;
      padding-bottom: 60px;
      font-size: 24px;
      line-height: 42px;

      color: #22356F;
    }

    .btn {
      display: flex;
      margin: 0;
      flex-direction: row;

      &__who {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 150px;
        height: 50px;
        margin-right: 50px;

        background: #F9B640;

        font-size: 16px;
        line-height: 23px;
        color: #FFFFFF;
      }

      &__wat {
        width: 150px;
        height: 50px;

        font-size: 16px;
        line-height: 23px;
        display: flex;
        align-items: center;

        color: #FAB63E;
      }
    }
  }
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 25px;
  position: absolute;
  width: 100%;
  height: 50px;
  z-index: 1;

  &__logo {
    margin-left: 27px;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.035em;
    color: #62D0DF;
  }

  &-item {
    display: flex;
    list-style: none;

    &__link {
      margin: 0;
      padding: 10px 13px;
      font-size: 14px;
      color: #22356F;
      border-bottom: 1px solid transparent;

      &--active {
        border-bottom: 1px solid black;
      }
    }
  }

  &__contact-us {
    width: 150px;
    height: 50px;
    background: #62D0DF;
    border-radius: 50px;
    border: 0;
    color: #FFFFFF;
    text-align: center;
  }
}

.background {
  background: #F4F9E2;

  &__oval {
    position: absolute;
    width: 807px;
    height: 544px;
    margin-left: 830px;

    background: #EDFDFF;
    border-radius: 312px;
    transform: rotate(-45deg);
  }

  &__img {
    z-index: 1;
    margin-left: -425px;
  }
}

.why-thrive {
  overflow: hidden;
  margin: 0 auto;
  background: #62D0DF;

  &__img {
    max-height: 622px;
  }

  &__bloc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10% 10% 5% 10%;

    &__title {
      padding-bottom: 75px;
      font-size: 36px;
      font-weight: bold;
      line-height: 27px;

      color: #FFFFFF;
    }

    &__description {
      font-size: 24px;
      line-height: 35px;

      color: #FFFFFF;

      span {
        font-weight: bold;
      }
    }
  }
}

.bloc3 {
  &__bloc {
    display: flex;
    justify-content: space-between;
    padding: 10% 25% 5% 10%;
    width: 100%;
  }

  &__title {
    font-size: 16px;

    color: #22356F;
  }

  &__description {
    width: 590px;
    font-size: 24px;
    font-weight: 700;

    color: #22356F;
  }
}

.text {
  display: flex;
  justify-content: center;
  margin: 70px 0 25px 0;

  color: rgba(34, 53, 111, 0.5);
}

.bloc4 {
  &__item {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    box-sizing: border-box;
    height: 360px;
    width: 360px;
    padding-left: 54px;

    &--1 {
      background: #FFE2DE;
    }

    &--2 {
      background: #C4E769;
    }

    &--3 {
      background: #62D0DF;
    }

    &--4 {
      background: #0052C1;
    }
  }
}

.bloc5 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &__training {
    padding: 100px 70px 302px 70px;

    &--1 {
      background: #22356F;
    }

    &--2 {
      background: #0052C1;
    }

    &--3 {
      background: url("../img/02.png");
    }

    &--4 {
      background: #62D0DF;
    }

    &--5 {
      background: #DEE1FF;
    }

    &--6 {
      background: #8F00FF;
    }
  }
}

.bloc6 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &__list {
    max-width: 480px;
  }
}

.item {
  margin: 55px 77px 37px 105px;

  &__title {
    margin-bottom: 28px;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -0.03em;

    color: #22356F;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: rgba(34, 53, 111, 0.5);
  }
}

.bloc7 {
  &__background {
    max-height: 850px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 103px 5% 42px 106px;

    &__title {
      font-size: 16px;
      line-height: 12px;

      color: #22356F;

    }

    &__subtitle {
      font-weight: bold;
      font-size: 36px;
      line-height: 53px;

      color: #22356F;

      .bloc7-primary {
        color: #62D0DF;
      }
    }

    &__btn {
      font-size: 16px;
      line-height: 23px;

      color: #FAB63E;
    }
  }
}

.bloc8 {
  background: #22356F;

  &__background {
    max-height: 800px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 10% 40px 8%;

    &__contact {
      font-size: 16px;

      color: #FFFFFF;
    }

    &__title {
      font-size: 64px;
      line-height: 94px;

      color: #FFFFFF;

    }

    &__subtitle {
      font-size: 36px;
      line-height: 53px;

      color: #FFFFFF;
    }

    &__btn {
      font-size: 16px;
      line-height: 23px;
      display: flex;
      align-items: center;

      color: #62D0DF;
    }
  }
}


.footer {
  flex-wrap: wrap;

  &__img {
    max-height: 380px;
  }

  &__info {
    display: flex;
    flex-grow: 1;
  }

  &__legal {
    flex-grow: 1;
    padding: 26px 0 26px 200px;
    background: #62D0DF;
    font-size: 14px;
    line-height: 11px;

    color: #FFFFFF;
  }

  &__list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    padding: 100px 40px 75px 70px;

    .list {
      &__item {
        max-width: 250px;

        &__title {
          padding-bottom: 40px;

          font-size: 14px;
          font-weight: bold;

          color: #22356F;
        }

        &__subtitle {
          font-size: 14px;
          line-height: 23px;

          color: rgba(34, 53, 111, 0.5);

          .footer-email {
            color: #006DFF;
          }
        }
      }
    }
  }
}

