body {
  margin: 0;
  padding: 0;
}

.site-header {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    width: 1440px;
    margin: 0 auto;

  &__title {
    position: absolute;
    width: 500px;
    height: 167px;
    left: 179px;
    top: 305px;
    font-family: Larsseit, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.035em;
    color: #22356F;
  }

  &__description {
    position: absolute;
    width: 469px;
    height: 161px;
    left: 179px;
    top: 491px;

    font-family: Larsseit, sans-serif;
    font-size: 24px;
    line-height: 42px;

    color: #22356F;
  }
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 25px;
  position: absolute;
  width: 100%;
  height: 50px;
  z-index: 1;

  &__logo {
    font-family: Larsseit, sans-serif;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.035em;
    color: #62D0DF;
  }

  &-item {
    display: flex;
    list-style: none;

    &__link {
      margin: 0;
      padding: 10px 13px;
      font-family: Larsseit, sans-serif;
      font-size: 14px;
      color: #22356F;
      border-bottom: 1px solid transparent;

      &--active {
        border-bottom: 1px solid black;
      }
    }
  }

  &__contact-us {
    width: 150px;
    height: 50px;
    background: #62D0DF;
    border-radius: 50px;
    border: 0;
    color: #FFFFFF;
    text-align: center;
  }
}

.background {
  width: 1117px;
  height: 840px;
  background: #F4F9E2;

  &__oval {
    position: absolute;
    width: 807.71px;
    height: 544.93px;
    left: 860px;
    top: 13px;

    background: #EDFDFF;
    border-radius: 312.159px;
    transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);
  }

  &__img {
    position: absolute;
    height: 875.78px;
    left: 697.98px;
  }
}

.who {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 150px;
  height: 50px;
  left: 179px;
  top: 715px;

  background: #F9B640;

  &__text {
    display: flex;
    align-items: center;

    font-family: Larsseit, sans-serif;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
  }
}

.wat {
  position: absolute;
  width: 150px;
  height: 43px;
  left: 367px;
  top: 718px;

  font-family: Larsseit, sans-serif;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;

  color: #FAB63E;
}

.why-thrive {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    width: 1440px;
    height: 607px;
    margin: 0 auto;
    background: #62D0DF;

  &__title {
    position: absolute;
    width: 223px;
    height: 51px;
    left: 179px;
    top: 151px;

    font-family: Larsseit, sans-serif;
    font-size: 36px;
    line-height: 27px;
    letter-spacing: -0.006em;

    color: #FFFFFF;
  }

  &__description {
    position: absolute;
    width: 555px;
    height: 235px;
    left: 179px;
    top: 277px;

    font-family: Larsseit, sans-serif;
    font-size: 24px;
    line-height: 35px;

    color: #FFFFFF;
  }

  &__img {
    position: absolute;
    width: 525px;
    height: 604px;
    left: 915px;
  }
}
