* {
  margin: 0;
  padding: 0;
  font-family: Larsseit, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.site-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  width: 1440px;
  margin: 0 auto;

  &__title {
    position: absolute;
    width: 500px;
    height: 167px;
    left: 179px;
    top: 305px;
    font-weight: 700;
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.035em;
    color: #22356F;
  }

  &__description {
    position: absolute;
    width: 469px;
    height: 161px;
    left: 179px;
    top: 491px;

    font-size: 24px;
    line-height: 42px;

    color: #22356F;
  }
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 25px;
  position: absolute;
  width: 100%;
  height: 50px;
  z-index: 1;

  &__logo {
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.035em;
    color: #62D0DF;
  }

  &-item {
    display: flex;
    list-style: none;

    &__link {
      margin: 0;
      padding: 10px 13px;
      font-size: 14px;
      color: #22356F;
      border-bottom: 1px solid transparent;

      &--active {
        border-bottom: 1px solid black;
      }
    }
  }

  &__contact-us {
    width: 150px;
    height: 50px;
    background: #62D0DF;
    border-radius: 50px;
    border: 0;
    color: #FFFFFF;
    text-align: center;
  }
}

.background {
  width: 1117px;
  height: 840px;
  background: #F4F9E2;

  &__oval {
    position: absolute;
    width: 807.71px;
    height: 544.93px;
    left: 860px;
    top: 13px;

    background: #EDFDFF;
    border-radius: 312.159px;
    transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);
  }

  &__img {
    position: absolute;
    height: 875.78px;
    left: 697.98px;
  }
}

.who {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 150px;
  height: 50px;
  left: 179px;
  top: 715px;

  background: #F9B640;

  &__text {
    display: flex;
    align-items: center;

    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
  }
}

.wat {
  position: absolute;
  width: 150px;
  height: 43px;
  left: 367px;
  top: 718px;

  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;

  color: #FAB63E;
}

.why-thrive {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  width: 1440px;
  height: 604px;
  margin: 0 auto;
  background: #62D0DF;

  &__title {
    position: absolute;
    width: 223px;
    height: 51px;
    left: 179px;
    top: 151px;

    font-size: 36px;
    line-height: 27px;
    letter-spacing: -0.006em;

    color: #FFFFFF;
  }

  &__description {
    position: absolute;
    width: 555px;
    height: 235px;
    left: 179px;
    top: 277px;

    font-size: 24px;
    line-height: 35px;

    color: #FFFFFF;
  }

  &__img {
    position: absolute;
    width: 525px;
    height: 604px;
    left: 915px;
  }
}

.bloc3 {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1440px;

  &__title {
    font-size: 16px;
    line-height: 23px;
    padding-top: 150px;
    padding-left: 105px;

    color: #22356F;
  }

  &__description {
    width: 590px;
    padding-top: 150px;
    padding-right: 425px;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.005em;

    color: #22356F;
  }
}

.text {
  display: flex;
  justify-content: center;
  letter-spacing: 0.06em;
  margin: 70px 0 25px 0;

  color: rgba(34, 53, 111, 0.5);
}

.mark {
  width: 43px;
  height: 43px;
  margin-right: -20px;
  margin-top: -8px;

  &::marker {
    font-size: 32px;
    color: #E9B730
  }
}

.mark-text {
  width: 260px;
  font-size: 32px;
  color: #FFFFFF;
}

.padding-top {
  width: 255px;
  height: 72px;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 25px;
  margin-right: 32px;
}

.bloc4 {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;

  &__item {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 360px;
    width: 360px;
    padding-left: 54px;

    &--1 {
      background: #FFE2DE;
    }

    &--2 {
      background: #C4E769;
    }

    &--3 {
      background: #62D0DF;
    }

    &--4 {
      background: #0052C1;
    }
  }
}

.bloc5 {
  display: flex;
  flex-wrap: wrap;
  width: 1440px;
  margin: 120px auto 0;

  .padding-top {
    width: 340px;
    height: 96px;
    margin-right: 75px;
  }

  &__training {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 480px;
    width: 410px;
    padding-left: 70px;

    &--1 {
      background: #22356F;
    }

    &--2 {
      background: #0052C1;
    }

    &--3 {
      background: url("../img/02.png");
    }

    &--4 {
      background: #62D0DF;
    }

    &--5 {
      background: #DEE1FF;
    }

    &--6 {
      background: #8F00FF;
    }
  }
}

.bloc6 {
  display: flex;
  flex-wrap: wrap;
  width: 1440px;
  margin: 20px auto 0;

  &__list {
    max-width: 480px;
  }
}

.item {
  margin: 55px 77px 37px 105px;

  &__title {
    margin-bottom: 28px;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -0.03em;

    color: #22356F;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: rgba(34, 53, 111, 0.5);
  }
}

.bloc7 {
  display: flex;
  width: 1440px;
  margin: 40px auto 0;

  &__item {
    margin: 103px 175px 42px 106px;

    &__title {
      margin-bottom: 255px;

      font-size: 16px;
      line-height: 12px;
      letter-spacing: 0.06em;

      color: #22356F;

    }

    &__subtitle {
      margin-bottom: 150px;

      font-weight: bold;
      font-size: 36px;
      line-height: 53px;
      letter-spacing: -0.01em;

      color: #22356F;

      span {
        color: deepskyblue;
      }
    }

    &__btn {
      font-size: 16px;
      line-height: 23px;
      letter-spacing: 0.1em;

      color: #FAB63E;
    }
  }
}

.bloc8 {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  background: #22356F;

  &__item {
    width: 100%;
    margin: 100px 200px 40px 180px;

    &__contact {
      margin-bottom: 230px;

      font-size: 16px;
      line-height: 12px;

      color: #FFFFFF;
    }

    &__title {
      margin-bottom: 75px;

      font-size: 64px;
      line-height: 94px;

      color: #FFFFFF;

    }

    &__subtitle {
      margin-bottom: 65px;

      font-size: 36px;
      line-height: 53px;

      color: #FFFFFF;
    }

    &__btn {
      font-size: 16px;
      line-height: 23px;
      display: flex;
      align-items: center;

      color: #62D0DF;
    }
  }
}


.footer {
  display: flex;
  flex-wrap: wrap;
  width: 1440px;
  margin: 0 auto;

  &__info {
    display: flex;
    width: 100%;
  }

  &__legal {
    width: 100%;
    padding: 26px 0 26px 200px;
    background: #62D0DF;
    font-size: 14px;
    line-height: 11px;

    color: #FFFFFF;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 100px 40px 75px 70px;

    .list {

      &__item:last-child {
        margin: 0;
      }

      &__item {
        max-width: 250px;
        margin-right: 35px;

        &__title {
          padding-bottom: 40px;

          font-size: 14px;
          font-weight: bold;
          line-height: 11px;

          color: #22356F;
        }
      }
    }
  }
}
